* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
header {
    background-color: #241C1C;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.01rem 3rem;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item {
    margin: 0 30px;
}
.nav-link {
    text-decoration: none;
    font-size: 100%;
    color: #fff;
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
.car{
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 15px;

}
.car, .carr{
    width: 30px;
    height: 40px;
}
.espetinho {
padding: 15%;
background-size: 100px;
}
@media screen and (max-width: 1130px) {
    .nav-bar {
        padding: 0.02rem 0.5rem;
    }
    .nav-link{
        font-size: 0.9rem;
    }
    
    .car{
        padding-top: 50px;
        padding-left: 70px;
    }
    .car, .carr{
        width: 25px;
        height: 35px;
        padding-right: 6%;
    }
}

@media screen and (max-width: 1110px) {
    .nav-bar {
        padding: 0.01rem 0.5rem;
    }
    .nav-link{
        font-size: 0.9rem;
    }
    .car{
        padding-top: 50px;
        padding-left: 70px;
    }
    .car, .carr{
        width: 25px;
        height: 35px;
        padding-right: 6%;
    }
}
@media screen and (max-width: 980px) {
    .nav-bar {
        padding: 0.01rem 0.8rem;
    }
    .nav-link{
        font-size: 0.9rem;
    }
    .nav-item {
        margin: 0 10px;
    }
}

@media screen and (max-width: 860px) {
    .nav-bar {
        padding: 0.01rem 0.8rem;
    }
    .nav-link{
        font-size: 0.9rem;
    }
    .nav-item {
        margin: 0 5px;
    }
    .car{
        padding-top: 50px;
        padding-left: 20px;
    } 
}

@media screen and (max-width: 750px) {
    .nav-bar {
        padding: 0.01rem 5rem;
    }
    .icon{
        padding-top: 3rem;     
    }
    .nav-bar .logo h1 img{
        width: 25% ;
    }
    .nav-item {
        display: none;
    }
    .mobile-menu-icon {
        display:flex;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align:end;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
}

@media screen and (max-width: 680px) {
    .icon{
        padding-top: 2.5rem;     
    }
    .nav-bar .logo h1 img{
        width: 25% ;
    }
}
@media screen and (max-width: 620px) {
    .icon{
        padding-top: 2.2rem;     
    }
    .nav-bar .logo h1 img{
        width: 27% ;
    }
}
@media screen and (max-width: 570px) {
    .icon{
        padding-top: 1.6rem;  
        width: 2rem;
    }
    .nav-bar .logo h1 img{
        width: 25% ;
    }
}
@media screen and (max-width: 510px) {
    .icon{
        padding-top: 1.4rem;  
        width: 1.9rem;
    }
    .nav-bar .logo h1 img{
        width: 27% ;
    }
    .nav-bar{
        padding: 0.2rem 3rem;
    }
    
}
@media screen and (max-width: 480px) {
    .icon{
        padding-top: 1.5rem;  
        width: 1.8rem;
    }
    .nav-bar .logo h1 img{
        width: 28% ;
    }
}
@media screen and (max-width: 445px) {
    .icon{
        padding-top: 1.4rem;  
        width: 1.8rem;
    }
    .nav-bar .logo h1 img{
        width: 29% ;
    }
    
}
@media screen and (max-width: 418px) {
    .icon{
        padding-top: 1.4rem;  
        width: 1.8rem;
    }
    .nav-bar .logo h1 img{
        width: 31% ;
    }
}
@media screen and (max-width: 395px) {
    .icon{
        padding-top: 1.3rem;  
        width: 1.8rem;
    }
    .nav-bar .logo h1 img{
        width: 32% ;
    }
    
}
@media screen and (max-width: 330px) {
    .icon{
        padding-top: 1.2rem;  
        width: 1.8rem;
    }
    .nav-bar .logo h1 img{
        width: 34% ;
    }
    .nav-bar{
        padding: 0.1rem 2rem;
    }
}